{% include "header.html" %}
{% load static %}
<div class="container"> 
    <nav>
        <div class="nav-logo">
            <a href="/">
                <img src="{% static 'images/logo.png' %}" alt="logo">
            </a>
        </div>
        <div class="nav-links">
            <a href="https://github.com/Mr-DJ/ezfy" target="_blank">Github</a>
        </div>
    </nav>

    <h1>EZFY</h1>
    <p class="desc">Convert your playlists between Youtube and Spotify!</p>

    <div class="inputs">
        <form action="/youtoob" method="GET">
            <input name="ytInput" type="text" placeholder="Enter playlist/song link">
            <input class="search_btn" type="submit" value="Search">
        </form>
    </div>
    <h1>{{ ytOutput }}</h1>
        

{% include "footer.html" %}